<h4>投稿一覧</h4>
 <%= link_to "新規投稿", new_admin_main_content_path, class: "btn btn-success" %>

  <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th>投稿ID</th>
          <th>施設名</th>
          <th>住所</th>
        </tr>
      </thead>
     <tbody>
　　　<% @main_contents.each do |main_content| %>
　　　　 <tr>
　　　　　<td><%= main_content.id %></td>
　　　　　<td><%= link_to main_content.facility,admin_main_content_path(main_content.id) %></td>
　　　　　<td><%= main_content.address %></td>
　　　　 </tr>
      <% end %>
     </tbody>
  </table>