<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Planet Watcher</title>
  </head>

  <body id="top">
    <div id="wrap">
      <div class="content">

        <h1>プラネタリウムで<br>
            いつでも星空旅行<br>
        </h1>

        <p>丸いドームのスクリーンに映し出される星空<br>
           語られる物語に耳を傾け<br>
           流れるのは星と、特別な時間<br>
           そう、それはまるで<br>
           心躍る夜更かしのような体験<br>
        </p>

        <p>Thank you for coming!<br>
        ログインでサイト内の閲覧ができます</p>

      </div>
    </div>

     <p class="btn">
     <%= link_to "︎新規登録", new_customer_registration_path %>
     <%= link_to "︎ログイン", new_customer_session_path %>
     <%= link_to "︎管理人", new_admin_session_path %></p>

  </body>