#mine {
  background-image:image-url(home-back.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

#mine .content {
  margin-top: 150px;
}

#mine h1 {
  line-height: 2;
  color: transparent;
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
  font-family: 'Tsukushi A Round Gothic', serif;
  margin-bottom: 120px;
}

#mine .field {
  font-size: 22px;
  color: white;
  font-family: 'Tsukushi A Round Gothic', serif;
  margin-bottom: 30px;
}