<header>
<nav class="navbar navbar-expand-md  navbar-dark" style="background-color:#0E4D52;">

  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="bs-navi">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link" href="#"><ruby><h2>MAIN.</h2><rt>プラネタリウム紹介</rt></ruby></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><ruby><h2>EVENT.</h2><rt>イベント予定</rt></ruby></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><ruby><h2>BBS.</h2><rt>掲示板</rt></ruby></a></li>
      <li class="nav-item"><a class="nav-link" href="#"><ruby><h2>INFO.</h2><rt>問い合わせ</rt></ruby></a></li>
    </ul>
      <a class="nav-link" href="#"><button type="button" class="btn btn-outline-info btn-sm">ログアウト</button></a>
  </div>
</nav>
</header>